<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wg.basics.mapper.UserMapper">
    <insert id="register" parameterType="com.wg.basics.entity.User">
        insert into user(username,password,enable,locked) values
        (#{username},#{password},#{enable},#{locked})
    </insert>

    <select id="getUser" parameterType="java.lang.String" resultType="com.wg.basics.entity.User">
        select * from user where username = #{username}
    </select>
    <update id="updateUserId" parameterType="com.wg.basics.entity.User">
        update user set id = #{id} where username = #{username}
    </update>

    <select id="getUserRoleById" resultType="com.wg.basics.entity.Role">
        select * from user_role ur , role r where ur.uid = #{userId} and r.id = ur.id
    </select>
</mapper>